<% layout('/layouts/boilerplate') %> 

<h1>All Hotels</h1>

<form class="my-3" action="/hotel/new">
    <button class="btn btn-success">Add New Hotel</button>
</form>

<div class="row">
    <% for(hotel of hotelList) { %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="card" >
            <a href="/hotel/<%= hotel._id %>">
                <img class="card-img-top" src="<%= hotel.imageURL %> " alt="Hotel image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title"><%= hotel.name %> </h5>
                <p class="card-text"><%= hotel.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Owner: <%= hotel.owner %> </li>
                <li class="list-group-item">Price: $<%= hotel.price %>/night </li>
            </ul>
            <div class="card-body px-0">
                <div class="row container-fluid mx-0">
                    <a href="/hotel/<%= hotel._id %>" class="btn btn-primary col mx-1">Info</a>
                    <a href="#" class="btn btn-success col mx-1">Book</a>
                </div>
            </div>
        </div>
    </div>
    <% } %> 
</div>